{%extends 'base.html.j2'%}
   {% block slider %}
{%endblock%}
{%block content%}


<section>
		<div class="forgot-password">
			<div class="ad-log-in">
				<!-- <div class="ad-log-in-logo">
					<a href="/"><img src="{{ static ('images/logo.png') }}" alt="User Profile"></a>
				</div> -->
				<div class="ad-log-in-con">
			<div class="log-in-pop-right">
                    <h4>Forgot Password</h4>
                    <p>Reset password. Enter the email ID here to reset your password.  </p>
                    {% if error %}
                    <p style="color:red;margin-top:10px;text-align:center;">{{error}}</p>
                    {% endif %}
                    <form class="" action="/reset/password/sent/" method="post" class="">
                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                      {% if msg %}


                       <strong>  <p style="color:red;margin-top:10px;text-align:center;margin-bottom: 15px;font-size: 14px;">{{ msg|escape }}</p></strong>

                      {% endif %}
                        {{ form.email }}

                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" style="display:none"/>
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input type="submit" value="Submit" class="waves-button-input"/></i> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="/login"><i class="fa fa-long-arrow-left"></i> Go Back</a>
                        </div>
                    </form>
                </div>
				</div>
			</div>
		</div>
   </section>




<script type="text/javascript">
$(document).ready(function(){
    $("#id_email").attr('placeholder', '{{form.email.label}}');
});
</script>

{%endblock%}
