{%extends 'base.html.j2'%}
{% block slider %}
{%endblock%}
{%block content%}

<style media="screen">
    .ad-log-in-con h4 {
  font-size: 29px;
  margin-bottom: 37px;
}
.error-msg{

margin-right: 9px;

}

p{
font-weight: 600;
}
</style>
<section>
    <div class="forgot-password">
        <div class="ad-log-in">
            <!-- <div class="ad-log-in-logo">
					<a href="/"><img src="{{ static ('images/logo.png') }}" alt="User Profile"></a>
				</div> -->
            <div class="ad-log-in-con">
                <div class="log-in-pop-right">
                    <h4>Change Password</h4>

                    <form class="" action="/reset/password/" method="post" class="">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                        <input type="hidden" name="token" value="{{ token }}" />

                        {% if msg %}
                        <strong>
                            <p style="color:red;margin-top:10px;text-align:center;">{{ msg|escape }}</p>
                        </strong>
                        {% endif %}
                        {{ form.new_password }}
                        {% if password %}
                        <strong>
                            <p style="color:red;margin-top:10px;text-align:center;">{{ password|escape }}</p>
                        </strong>
                        {% endif %}
                        {{ form.retype_password }}
                        {% if confirm_password %}
                        <strong>
                            <p style="color:red;margin-top:10px;text-align:center;"> <img class="error-msg" height="19"
                                    width="20" src="{{ static('images/exclamation-mark.png')}}" alt="Error-message">{{
                                confirm_password|escape }}</p>
                        </strong>
                        {% endif %}
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" style="display:none" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input type="submit"
                                        value="Submit" class="waves-button-input" /></i> </div>
                        </div>
                        <!-- <div>
                            <div class="input-field s12"> <a href="javascript:void(0);">login Here</a> | <a href="javascript:void(0);">Create a new account</a> </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





{%endblock%}